

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <hr>
    <h3>
        <p style="text-align:left; color:blue">
            Welcome @ViewBag.Name (Admin),
            <span style="float:right;">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    <br />
    <div align="left">
        <ul>
            <li>
                <a href="/Admin/ViewDetails">View Details</a><br><br />
            </li>
            <li>
                <a href="/Admin/ChangePassword">Change Password</a><br><br />
            </li>
            <li>
                <a href="/Admin/ManagePrincipal">Manage Principal</a><br><br />
            </li>
            <li>
                <a href="/Admin/ManageFaculty">Manage Faculty</a><br><br />
            </li>
            <li>
                <a href="">Manage Students</a><br><br />
            </li>
        </ul>
    </div>

</body>
</html>

