
<!DOCTYPE html>
<html>
<head>
    <title>ManagePrincipal</title>
</head>
<body>
    <hr>
    <h3>
        <p style="text-align:left; color:blue">
            <span style="float:right; color:blue">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    <h2> Manage Principal Data</h2>
    <br />
    <br />
    <div align="left">
        <ul>
            <li>
                <a href="/Admin/ViewPrincipalDetails">View Principal Details</a><br><br />
            </li>
            <li>
                <a href="/Admin/ChangePrincipalPassword">Change Password</a><br><br />
            </li>
        </ul>

    </div>
    <p style="color:blue">
        <a href="/Admin/Home">Back</a>
    </p>
</body>
</html>

