
<!DOCTYPE html>
<html>
<head>
    <title>ManageFaculty</title>
</head>
<body>
    <h3>
        <p style="text-align:left; color:blue">
            <span style="float:right; color:blue">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    
    <h2> Manage Faculty Data</h2>
    <br />
    <div align="left">
        <ul>
            <li>
                <a href="/Admin/ListFaculties">List Faculties </a><br><br />
            </li>
            <li>
                <a href="/Admin/AddFaculty">Add Faculty</a><br><br />
            </li>
            <li>
                <a href="">Update Faculty</a><br><br />
            </li>
            <li>
                <a href="">Delete Faculty</a><br><br />
            </li>
        </ul>

    </div>
    <p style="color:blue">
        <a href="/Admin/Home">Back</a>
    </p>
</body>
</html>

