
<!DOCTYPE html>
<html>
<head>
    <title>SuccessfullPassword</title>

</head>
<body>

    <hr>
    <h3>
        <p style="text-align:center; color:blue">
            <span style="float:right; color:blue">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    <div align="center">
        <h3> Password Changed Succesfully!!</h3>
        <p style="color:blue;">
            <a href="/Admin/Home">Home</a>

        </p>
    </div>
</body>
</html>

