

<!DOCTYPE html>
<html>
<head>
    <title>SuccessfullPrincipalPassword</title>
</head>
<body>
    <h3>
        <p style="text-align:left; color:blue">
            <span style="float:right; color:blue">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    <hr>
    <div align="center">
        <h3> Password Changed Succesfully for Principal!!</h3>
        <p style="color:blue;">
            <a href="/Admin/ManagePrincipal">Home</a>
        </p>
    </div>
</body>
</html>

