
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatabaseNotUpdated</title>
</head>
<body>
    <hr>
    <div align="center">
        <h3>
            Sorry!! We are working on the Database.<br />
            Please try after sometime!!
        </h3><br />

        <p style="color:blue;">
            <a href="/Principal/Home">Home</a>

        </p>
    </div>
</body>
</html>
