
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <hr>
    <h3>
        <p style="text-align:left;">
            Welcome @ViewBag.Name,
            <span style="float:right;">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    <br />
    <div align="left">
        <ul>
            <li>

                <a href="/Principal/ViewDetails">View Details</a><br /><br />
            </li>

            <li>

                <a href="/Principal/ChangePassword">Change Password </a><br /><br />

            </li>

            <li>

                <a href="/Principal/ListFaculty">List Faculties</a>
            </li>

        </ul>
    </div>


</body>
</html>

