@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    
    <body>

        <div class="w3-container w3-light-blue" align="center">
            <h1>School Management System</h1>
        </div>
        <hr>
        <div align="center">
            <h3> &nbsp;Welcome, Identify Yourself to Login</h3>
        </div>
        <hr>
         <div class="row">
            <div class="col-sm-4" align="left">
                <img src="~/Content/Admin.png" width="180" height="230" /><br /><br />
                &nbsp;&nbsp;  &nbsp;&nbsp; <a href="/Admin/Login"><input type="submit" value="Login as Admin" class="btn btn-primary" /></a>
            </div>
            <div class="col-sm-4" align="center">
                <img src="~/Content/Principal.png" width="180" height="230" /><br /><br />
                &nbsp; <a href="/Principal/Login"><input type="submit" value="Login as Principal" class="btn btn-primary" /></a>
            </div>

            <div class="col-sm-offset-4" align="right">
                <img src="~/Content/Faculty.png" width="180" height="230" /><br /><br />
                <a href="/Faculty/Login"><input type="submit" value="Login as Faculty" class="btn btn-primary" /></a>
            </div>
        </div>
        <!--
            <h4> <label>  &nbsp; Identify Yourself Below!!</label></h4>
             <a href="/Principal/Login"><input type="submit" value="Principal" class="btn btn-primary" /></a>&nbsp;&nbsp;&nbsp;
        <a href="/Faculty/Login"><input type="submit" value="Faculty" class="btn btn-primary" /></a>&nbsp;&nbsp;&nbsp;
        <a href="/Admin/Login"><input type="submit" value="Admin" class="btn btn-primary" /></a>
     <ul>
        <li>
            Principal &nbsp;
            <a href="/Principal/Login">Click here</a><br><br />
        </li>
        <li>
            Faculty &nbsp;
            <a href="/Faculty/Login">Click here</a><br><br />
        </li>
        <li>
            Admin &nbsp;
            <a href="/Admin/Login">Click here</a><br><br />
        </li>
    </ul>
    -->




    </body>
</html>